
.main1{
    display: flex;
    margin:250px;
    justify-content: space-between;
   }


.back_img {
 margin:0px 0px;
   height:800px;
   width:800px;;
    background-image: url('https://ychef.files.bbci.co.uk/1280x720/p02k6vry.jpg');

    background-repeat: no-repeat;

    background-position: center;
   
   opacity: 0.5; 
 
  }


.main{
    float:right;
   margin:0px 0px;
    font-size: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    color:rgb(6, 149, 75);
    text-shadow: 4px 4px #0dc556;
    z-index:1;
 
    
} 
 #start {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1.8rem 2rem;
    border-radius: 3rem;
    border: none;
    cursor: pointer;
    background-color: rgb(42, 96, 36);
    color: white;
    /* transition: all 0.2s ease-in-out; */
    /* animation-name: animate;
    animation-duration: 0.4s; */
    
}
#pause {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1.8rem 2rem;
    border-radius: 3rem;
    border: none;
    cursor: pointer;
    background-color: rgb(57, 141, 38);
    color: white;
    /* transition: all 0.2s ease-in-out; */
    /* animation-name: animate;
    animation-duration: 0.4s; */
}
#reset{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1.8rem 2rem;
    border-radius: 3rem;
    border: none;
    cursor: pointer;
    background-color: rgb(38, 226, 28);
    color: white;
    /* transition: all 0.2s ease-in-out; */
    /* animation-name: animate;
    animation-duration: 0.4s; */
}
#lap{
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1.8rem 2rem;
  border-radius: 3rem;
  border: none;
  cursor: pointer;
  background-color: rgb(38, 226, 28);
  color: white;
  /* transition: all 0.2s ease-in-out; */
  /* animation-name: animate;
  animation-duration: 0.4s; */
}

#lapTime{
  text-align: center;
}
/* @keyframes animate {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
    75% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }  */